:root {
	--color-fondo: #fffff8; /* marfil claro */	
}

body {
  height: 100vh;  
  background: var(--color-fondo);
}

.text-centred {
	text-align: center;
}

.box-centred-v {
	display: flex;
	justify-content: center;
}